
.trafficLight {
    background-color: black;
    width: fit-content;
    padding: 17px;
    height: fit-content;
    border-radius: 10%;
    margin: auto;
    box-shadow: 15px 14px 16px;

}

button {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    display: block;
}

.glow {
    box-shadow: 0px 0px 9px 4px #747de8;
}

.redLight {
    background-color: red;
}